@import url('https://fonts.googleapis.com/css?family=Muli');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Muli, sans-serif;
    text-align: justify;
}

header{
    background: #16A085;
    height: 130px;
    overflow: hidden;
}

footer{
    margin-top: 20px;
    background: #16A085;
    height: 50px;
}

header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: white;
}
h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

h2{
    font-size: 2rem;
}

section{
    margin: 0.5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;


}

section article{
    font-size: 0.9rem;
    height: 340px;
    width: 33.33%;
    flex: 0 0 0 calc(33.33% - 1rem);
    background: #f0f0f0;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 2px dashed #16A085;

}

section article img{
    width: 80%;
    height: 180px;
    object-fit: cover;
    margin: 5px auto;
    display: block;
}

article {

}

section article h3{
    text-align: center;
}

section article:nth-child(2){
    background-color: rgba(70, 130, 180, 0.9);
    position: static;
    left: 100px;
    top: 50px;

}

footer div{
    padding-top: 1rem;
}